@using AMMPSI.Views.Shared
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AMMPSI</title>
    <link rel="stylesheet" href="~/lib/strdash/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/strdash/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/strdash/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/strdash/css/metisMenu.css">
    <link rel="stylesheet" href="~/lib/strdash/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/strdash/css/slicknav.min.css">
    <link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    @RenderSection("DataTableSytleSheets", required: false)
    <!-- others css -->
    <link rel="stylesheet" href="~/lib/strdash/css/typography.css">
    <link rel="stylesheet" href="~/lib/strdash/css/default-css.css">
    <link rel="stylesheet" href="~/lib/strdash/css/styles.css">
    <link rel="stylesheet" href="~/lib/strdash/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/lib/strdash/js/vendor/modernizr-2.8.3.min.js"></script>
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @RenderSection("StyleSheets", required: false)

</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img src="~/lib/strdash/images/icon/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="@SharedNavPages.DashboardNavClass(ViewContext)">
                                <a href="@Url.Action("Index","Home")" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                            {
                                <li class="@SharedNavPages.AssetNavClass(ViewContext)">
                                    <a href="@Url.Action("Index","Asset")" aria-expanded="true"><i class="ti-layout-list-thumb"></i><span>asset</span></a>
                                </li>
                                <li class="@SharedNavPages.CategoryNavClass(ViewContext)">
                                    <a href="@Url.Action("Index","Category")" aria-expanded="true"><i class="ti-view-list"></i><span>category</span></a>
                                </li>
                                <li class="@SharedNavPages.LocationNavClass(ViewContext)">
                                    <a href="@Url.Action("Index","Location")" aria-expanded="true"><i class="ti-location-pin"></i><span>location</span></a>
                                </li>

                            }

                            <li class="@SharedNavPages.MoveNavClass(ViewContext) @SharedNavPages.CreateMoveNavClass(ViewContext) @SharedNavPages.TaskNavClass(ViewContext) @SharedNavPages.MoveLogNavClass(ViewContext)">
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-layout-sidebar-left"></i><span>
                                        transaction
                                    </span>
                                </a>
                                <ul class="collapse">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                                    {
                                        <li class="@SharedNavPages.MoveNavClass(ViewContext)"><a href="@Url.Action("Index","Transaction")">approval</a></li>
                                    }
                                    @if (!User.IsInRole("Mover"))
                                    {
                                        <li class="@SharedNavPages.CreateMoveNavClass(ViewContext)"><a href="@Url.Action("MoveAsset","Transaction")">move</a></li>
                                    }

                                    @if (!User.IsInRole("Employee"))
                                    {
                                        <li class="@SharedNavPages.TaskNavClass(ViewContext)"><a href="@Url.Action("MoveTask","Transaction")">task</a></li>
                                    }
                                    <li class="@SharedNavPages.MoveLogNavClass(ViewContext)"><a href="@Url.Action("MoveLog","Transaction")">history</a></li>
                                </ul>
                            </li>

                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <li class="@SharedNavPages.CreateAccountNavClass(ViewContext) @SharedNavPages.AccountNavClass(ViewContext)">
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="ti-user"></i><span>
                                            account
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li class="@SharedNavPages.CreateAccountNavClass(ViewContext)"><a href="@Url.Action("Register","Account")">add account</a></li>
                                        <li class="@SharedNavPages.AccountNavClass(ViewContext)"><a href="@Url.Action("Index","Account")">account list</a></li>
                                        @*<li><a href="@Url.Action("Role","Account")">role</a></li>*@
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">@ViewData["Title"]</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><span>@ViewData["BreadCrumb"]</span></li>
                            </ul>
                        </div>
                    </div>
                    @await Html.PartialAsync("_LoginPartial")

                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>

    <!-- jquery latest version -->
    <script src="~/lib/strdash/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/lib/strdash/js/popper.min.js"></script>
    <script src="~/lib/strdash/js/bootstrap.min.js"></script>
    <script src="~/lib/strdash/js/owl.carousel.min.js"></script>
    <script src="~/lib/strdash/js/metisMenu.min.js"></script>
    <script src="~/lib/strdash/js/jquery.slimscroll.min.js"></script>
    <script src="~/lib/strdash/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="~/lib/strdash/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/lib/strdash/js/pie-chart.js"></script>
    @RenderSection("DataTableScripts", required: false)
    <!-- others plugins -->
    <script src="~/lib/strdash/js/plugins.js"></script>
    <script src="~/lib/strdash/js/scripts.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
